<head>
<style>
.flex-container {
display:flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
.social-icon {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
}
.social-icon:hover {
  color:#111;
}

.cat {
  background: url("/Cat_Laptop.jpg") no-repeat;
  display: inline-block;
}
.cat:hover {
  background: url("/Cat_Eyes.jpg") no-repeat;
}
</style>
</head>


body {background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:center;
;}
h1 {
color:black;
text-align: center;
}

h2 {
    text-align: center;
}


#footer {
    position: absolute;
    display: flex;
    background-color: black;
    text-align: center;
    width: 100vw;
    bottom: 0;
    height: 30px;
    padding: 30px;
    font-size: larger;
    justify-content: center;
}

body {
    margin: 0;
}